@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 34px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

main {
  flex: 1;
}

.introduction {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content p {
  font-size: 18px;
  margin: 0;
  color: #e5e7eb;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  color: #f9faf8;
}

.introduction img {
  width: 500px;
  height: 250px;
}

.sign-up {
  width: 128px;
  height: 38px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.information {
  margin-bottom: 64px;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card,
.card img {
  max-width: 200px;
}

.card img {
  border: 3px #3882f6 solid;
  border-radius: 24px;
}

.card p {
  margin: 0;
  margin-top: 6px;
  text-align: center;
}

.quote-container {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 124px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.quote p {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote span {
  font-size: 22px;
  font-weight: 900;
  align-self: flex-end;
}

footer {
  min-height: 80px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
