body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 34px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

main {
  flex: 1;
}

.introduction {
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content p {
  font-size: 18px;
  margin: 0;
  color: #e5e7eb;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  color: #f9faf8;
}

.introduction img {
  width: 500px;
  height: 250px;
}

.sign-up {
  width: 128px;
  height: 38px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

footer {
  height: 80px;
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
